<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoe app | <%= title %></title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <h1>This is all the shoes</h1>

    <nav>
        <a href="/">Homepage</a>
        <a href="/all-shoes">Shoes page</a>
        <a href="/add-shoe">Shoes page</a>
    </nav>


    <div class="create-shoe content">
        <form action="/all-shoes" method="POST">
          <label for="title">Brand:</label>
          <input type="text" id="brand" name="brand" required>
          <label for="model">Model:</label>
          <input type="text" id="model" name="model" required>
          <label for="description">Description:</label>
          <textarea id="description" name="description" required></textarea>
          <button>Submit</button>
        </form>
      </div>
</body>
</html>