<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shoe app | <%= title %></title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>This is the shoe app</h1>

    <nav>
        <a href="/">Homepage</a>
        <a href="/all-shoes">Shoes page</a>
        <a href="/add-shoe">Shoes page</a>
    </nav>
  </body>
</html>
